<br />
<div class="grid-container">
  <div class="grid-item">Parameter ID</div>
  <div class="grid-item">
    <form>
      <input class="form-param-input" type="text" id="fname" name="fname" />
    </form>
  </div>
  <div class="grid-item">New Parameter Name</div>
  <div class="grid-item">
    <form>
      <input class="form-param-input" type="text" id="fname" name="fname" />
    </form>
  </div>
  <div class="grid-item">Parameter Description</div>
  <div class="grid-item">
    <form>
      <input class="form-param-input" type="text" id="fname" name="fname" />
    </form>
  </div>
  <div class="grid-item">Parameter Unit</div>
  <div class="grid-item">
    <form>
      <input class="form-param-input" type="text" id="fname" name="fname" />
    </form>
  </div>
  <div class="grid-item">Parameter Formula Editor</div>
  <div class="grid-item">
    <form>
      <input
        class="form-param-input-large"
        type="text"
        id="fname"
        name="fname"
      />
    </form>
  </div>
  <div>
    <button color="secondary" class="nav-button" mat-raised-button>
      detailed View <mat-icon>post_add</mat-icon>
    </button>
  </div>
  <div>
    <button color="primary" class="nav-button" mat-raised-button>
      List of special functions <mat-icon>post_add</mat-icon>
    </button>
  </div>
  <p></p><p></p>
</div>
