<mat-toolbar class="monitoring-configuration-header" color="secondary">
  <div fxLayout = "row" fxLayoutGap="10px">
    <button mat-raised-button><mat-icon>mode_edit</mat-icon></button>
    <div>Monitoring:</div>
    <div class="data-set-name">Data_Set_Name</div>
    <div class="status">active</div>
    <div>Version Date:</div>
    <select name="version-date" id="version-date">
      <option value="1">18.06.2021 15:23:33</option>
      <option value="2">19.06.2021 11:13:31</option>
      <option value="3">20.06.2021 10:02:45</option>
    </select>
    <button mat-raised-button>Save Monitoring Config</button>
    <button mat-raised-button>Delete Temporary Version</button>
    <div fxFlex fxFlexAlign="end"><button mat-raised-button><mat-icon>highlight_off</mat-icon></button></div>
  </div>
</mat-toolbar>
