<br />
<div class="grid-container">
  <div class="grid-item">Test ID</div>
  <div class="grid-item">
    <form>
      <input class="form-param-input" type="text" id="fname" name="fname" />
    </form>
  </div>
  <div class="grid-item">Serial Number</div>
  <div class="grid-item">
    <form>
      <input class="form-param-input" type="text" id="fname" name="fname" />
    </form>
  </div>
  <div class="grid-item">WBS-Element</div>
  <div class="grid-item">
    <form>
      <input class="form-param-input" type="text" id="fname" name="fname" />
    </form>
  </div>
  <div class="grid-item">Test Date</div>
  <div class="grid-item">
    <form>
      <input class="form-param-input" type="text" id="fname" name="fname" />
    </form>
  </div>
  <div class="grid-item">Scan</div>
  <div class="grid-item">
    <form>
      <input class="form-param-input" type="text" id="fname" name="fname" />
    </form>
  </div>
  <div class="grid-item">Formula Example</div>
  <div class="grid-item">
    <form>
      <input
        class="form-param-input-large"
        type="text"
        id="fname"
        name="fname"
      />
    </form>
  </div>
</div>
