.param-table{
  background-color: white;
}

.list-button{
  height: 40px;
  width: 40px;
}

.edit-button{
  height: 30px;
  width: 120px;
}

table {
  width: 100%;
}

.example-container {
  height: 200px;
  max-width: 100%;
  overflow: auto;
}

th.mat-header-cell {
  color: black;
}

.mat-header-row {
  height: 40px;
}

td.mat-cell {
  color: black;
}

tr.mat-row {
  height: 30px !important;
}
