<div fxLayout="column" fxLayoutAlign="stretch" class="tab-layout">
  <div fxFlex="25px" class="field-header">Rating Correction</div>
  <div fxFlex="150px" class="buttons-field">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxflex>
        <button
          class="rating-correction-button-yes"
          (click)="toggleSettingsIsShown()"
        >
          Yes
        </button>
      </div>
      <div fxflex>
        <button
          class="rating-correction-button-no"
          (click)="toggleSettingsIsNotShown()"
        >
          No<br />SCAN-based Monitoring
        </button>
      </div>
    </div>
  </div>
  <div fxFlex="50px"></div>

  <div *ngIf="settingsIsShown" fxFlex="25px" class="field-header">Settings</div>
  <div *ngIf="settingsIsShown" fxFlex class="settings-field">
    <div class="grid-container">
      <div class="grid-item-header">Available Codes:</div>
      <div class="grid-item-header"></div>
      <div class="grid-item-header">Selected Codes:</div>
      <div class="grid-item-header">Interpolate:</div>
      <div class="grid-item-header">Regression:</div>
      <div class="grid-item-header">
        Engine list with not sufficient<br />independent Codes:
      </div>
      <div class="grid-item">
        <form>
          <input
            class="codes-input-large"
            type="text"
            id="availableCodesInput"
            name="availableCodesInput"
          />
        </form>
      </div>
      <div class="grid-item" style="text-align: center; padding-top: 30px">
        <button mat-raised-button color="primary" class="list-button">
          <mat-icon>arrow_right</mat-icon>
        </button>

        <button mat-raised-button color="primary" class="list-button">
          <mat-icon>arrow_left</mat-icon>
        </button>
      </div>
      <div class="grid-item">
        <form>
          <input
            class="codes-input-large"
            type="text"
            id="selectedCodesInput"
            name="selectedCodesInput"
          />
        </form>
      </div>
      <div class="grid-item">
        <div class="grid-item-line">
          <select
            name="interpolate-method"
            id="interpolate-method"
            class="interpolate-method"
          >
            <option value="met0"></option>
            <option value="met1">Met 1</option>
            <option value="met2">Met 2</option>
            <option value="met3">Met 3</option>
            <option value="met4">Met 4</option>
          </select>
        </div>
        <div class="grid-item-line">
          <div class="interpolate-input-equal">
            <label>= </label>
            <input
              class="iterpolate-param-input"
              type="text"
              id="iterpolateParamInput"
              name="iterpolateParamInput"
            />
          </div>
        </div>
        <!-- <mat-form-field appearance="fill">
        <mat-label>Method</mat-label>
        <select>
          <option value=""></option>
          <option value="met1">Met 1</option>
          <option value="met2">Met 2</option>
          <option value="met3">Met 3</option>
          <option value="met4">Met 4</option>
        </select>
      </mat-form-field> -->
        <div class="grid-item-line" style="text-align: center">
          count of<br />independent codes:
        </div>

        <div class="grid-item-line">
          <div class="interpolate-input-equal">
            <label>= </label>

            <input
              class="iterpolate-param-input"
              type="text"
              id="countOfIndependentCodesInput"
              name="countOfIndependentCodesInput"
            />
          </div>
        </div>
        <div class="grid-item-line">
          min 2 for linear<br />min 3 for quadratic
        </div>
      </div>
      <div class="grid-item">
        <div
          fxLayout="column"
          fxLayoutAlign="space-around center"
          style="height: 200px"
        >
          <div fxflex>
            <div
              fxLayout="column"
              fxLayoutAlign="space-around center"
              style="
                height: 100px;
                width: 160px;
                border: 1px solid rgba(0, 0, 0, 0.8);
              "
            >
              <div fxflex>
                <button mat-raised-button class="regression-button linear">
                  linear
                </button>
              </div>
              <div fxflex>
                <button mat-raised-button class="regression-button quadratic">
                  quadratic
                </button>
              </div>
            </div>
          </div>

          <div fxflex>
            <button
              mat-raised-button
              class="regression-button calculate-rating-correction"
            >
              calculate rating<br />correction
            </button>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <input
          class="codes-input-medium"
          type="text"
          id="engineListInput"
          name="engineListInput"
        />
        <div >
          <button class="filtered-engines-button"
            mat-raised-button
            style="background-color: MidnightBlue; color: white"
          >
            <span style="padding-right: 3px">Filtered Engines </span
            ><mat-icon>post_add</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
