<div fxLayout="column" fxLayoutAlign="stretch" class="tab-layout">
  <div fxFlex="25px" class="field-header">Rating Correction</div>
  <div fxFlex="150px" class="buttons-field">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxflex>
        <button class="rating-correction-button-yes">Yes</button>
      </div>
      <div fxflex>
        <button class="rating-correction-button-no">
          No<br />SCAN-based Monitoring
        </button>
      </div>
    </div>
  </div>
</div>
