<mc-toolbar></mc-toolbar>
<mat-tab-group animationDuration="0ms">
  <mat-tab label="Monitoring Parameter">
    <mp-monitoring-parameter></mp-monitoring-parameter>
  </mat-tab>
  <mat-tab label="Scan Selection/Filter"
    ><mp-scan-selection-filter></mp-scan-selection-filter
  ></mat-tab>
  <mat-tab label="Rating Correction">
    <mp-rating-correction></mp-rating-correction>
  </mat-tab>
  <mat-tab label="Reference Dataset">
    <mp-reference-dataset></mp-reference-dataset>
  </mat-tab>
  <mat-tab label="Statistical Methods">
    <mp-statistical-methods></mp-statistical-methods>
  </mat-tab>
  <mat-tab label="Alert Selection">
    <mp-alert-selection></mp-alert-selection>
  </mat-tab>
  <mat-tab label="Publish">
    <mp-publish></mp-publish>
  </mat-tab>
</mat-tab-group>
