<div
  fxLayout="column"
  fxLayoutAlign="start stretch"
  style="height: 700px; width: 1600px"
>
  <div fxFlex>
    <mat-toolbar
      style="min-height: 50px !important; height: 50px !important"
      color="secondary"
      ><h2>Plot Parameter</h2>
    </mat-toolbar>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              [aria-label]="checkboxLabel()"
            >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
              [aria-label]="checkboxLabel(row)"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Monitoring Parameter Column -->
        <ng-container matColumnDef="monitoringParam">
          <th mat-header-cell *matHeaderCellDef>Monitoring Parameter</th>
          <td mat-cell *matCellDef="let element">
            {{ element.monitoringParam }}
          </td>
        </ng-container>

        <!-- Display Name Column -->
        <ng-container matColumnDef="displayName">
          <th mat-header-cell *matHeaderCellDef>Display Name</th>
          <td mat-cell *matCellDef="let element">
            {{ element.displayName }}
          </td>
        </ng-container>

        <!-- Statistical Method Column -->
        <ng-container matColumnDef="statisticalMethod">
          <th mat-header-cell *matHeaderCellDef>Statistical Method</th>
          <td mat-cell *matCellDef="let element">
            {{ element.statisticalMethod }}
          </td>
        </ng-container>

        <!-- Calculation Area Column -->
        <ng-container matColumnDef="calculationArea">
          <th mat-header-cell *matHeaderCellDef>Calculation Area</th>
          <td mat-cell *matCellDef="let element">
            {{ element.calculationArea }}
          </td>
        </ng-container>

        <!-- Reference Column -->
        <ng-container matColumnDef="reference">
          <th mat-header-cell *matHeaderCellDef>Reference</th>
          <td mat-cell *matCellDef="let element">
            {{ element.reference }}
          </td>
        </ng-container>

        <!-- X+ Column -->
        <ng-container matColumnDef="Xplus">
          <th mat-header-cell *matHeaderCellDef>X+</th>
          <td mat-cell *matCellDef="let element">
            {{ element.Xplus }}
          </td>
        </ng-container>

        <!-- X- Column -->
        <ng-container matColumnDef="Xminus">
          <th mat-header-cell *matHeaderCellDef>X-</th>
          <td mat-cell *matCellDef="let element">
            {{ element.Xminus }}
          </td>
        </ng-container>

        <!-- k Column -->
        <ng-container matColumnDef="k">
          <th mat-header-cell *matHeaderCellDef>k</th>
          <td mat-cell *matCellDef="let element">
            {{ element.k }}
          </td>
        </ng-container>

        <!-- Column number Column -->
        <ng-container matColumnDef="column">
          <th mat-header-cell *matHeaderCellDef>Column</th>
          <td mat-cell *matCellDef="let element">
            {{ element.column }}
          </td>
        </ng-container>

        <!-- Creation Date Column -->
        <ng-container matColumnDef="creationDate">
          <th mat-header-cell *matHeaderCellDef>Creation Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.creationDate }}
          </td>
        </ng-container>

        <!-- Create New Button Column -->
        <ng-container matColumnDef="createNew">
          <th mat-header-cell *matHeaderCellDef>
            <button mat-raised-button
            style="background-color: MidnightBlue; color: white; width: 150px">
              Create New
              <mat-icon>post_add</mat-icon>
            </button>
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button
            style="background-color: MidnightBlue; color: white; width: 150px">
              Edit
              <mat-icon>post_add</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Add Existing Column -->
        <ng-container matColumnDef="addExisting">
          <th mat-header-cell *matHeaderCellDef>
            <button mat-raised-button
            style="background-color: MidnightBlue; color: white; width: 150px">
              Add Existing
              <mat-icon>post_add</mat-icon>
            </button>
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button
            style="background-color: MidnightBlue; color: white; width: 150px">
              Remove
              <mat-icon>post_add</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
<div style="bottom: 0px; width: 1600px">
  <mat-paginator
    style="justify-content: center; bottom: 0px"
    [pageSizeOptions]="[6, 10, 14]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
  <div fxLayout="row" fxLayoutAlign="space-between start">
    <div fxFlex>
      <p>
        <mat-checkbox>Copy to Monitoring Parameter: </mat-checkbox>
        <select name="monitoring-parameter" id="monitoring-parameter">
          <option value="1"></option>
          <option value="2">"FNK"</option>
        </select>
        <button>Copy</button>
      </p>
      <button>Copy to all</button>
    </div>

    <div fxFlex>
      <p>up to 10 plot parameters per monitoring parameter</p>
      <button>Remove Filter</button>
    </div>
  </div>
</div>
