<div fxLayout="row" fxLayoutAlign="stretch">
  <div fxFlex="1300px">
    <mp-ssf-smart-filter></mp-ssf-smart-filter>
  </div>
  <div fxFlex="10px"></div>
  <div fxFlex="300px">
    <div fxLayout="column" fxLayoutAlign="stretch">
      <div fxFlex="300px">
        <div
          fxLayout="column"
          fxLayoutAlign="space-around center"
          style="height: 250px"
        >
          <div fxFlex="30px"></div>
          <div fxFlex>
            <button color="primary" class="filter-button" mat-raised-button>
              Data Group
            </button>
          </div>
          <div fxFlex>
            <button color="primary" class="filter-button" mat-raised-button>
              Remove Filter
            </button>
          </div>
          <div fxFlex>
            <button color="primary" class="filter-button" mat-raised-button>
              Reset Filter
            </button>
          </div>
          <div fxFlex>
            <button color="primary" class="filter-button" mat-raised-button>
              Confirm Filter
            </button>
          </div>
        </div>
      </div>
      <div fxFlex="500px">
        <div>
          <div class="description">Filter Rules</div>
          <form>
            <input
              class="form-param-input-large"
              type="text"
              id="fname"
              name="fname"
              style="height: 470px; width: 100%"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
