.side-navigation {
  padding: 10px;
  width: auto;
  align-items: center;
  background-color: white;
}

.menu-icon-column {
  background-color: white;
}

.nav-button {
  width: 150px;
}

.nav-menu-container {
  min-height: 300px;
  }

  .nav-option{
    text-align: left;
  }

  .router-space {
    background-color: white;
    width: 100%;
     min-height: 800px
  }
