<mat-drawer-container class="nav-menu-container" autosize>
  <mat-drawer #nav_menu class="side-navigation" mode="side">
    <p>
      <mat-selection-list [multiple]="false">
        <mat-list-option class = "nav-option"[routerLink]="['/']">Welcome</mat-list-option>
        <mat-list-option class = "nav-option"[routerLink]="['MonitoringConfiguration']">Monitoring<br>Configuration</mat-list-option>
        <mat-list-option class = "nav-option"[routerLink]="['Evaluation']">Evaluation</mat-list-option>
        <mat-list-option class = "nav-option"[routerLink]="['AlarmManagement']">Alarm<br>Management</mat-list-option>
        <mat-list-option class = "nav-option"[routerLink]="['UserControl']">User Control</mat-list-option>
        <mat-list-option class = "nav-option"[routerLink]="['RevisionHistory']">Revision<br>History</mat-list-option>
        <mat-list-option class = "nav-option"[routerLink]="['chart']">Chart ngx</mat-list-option>
        <mat-list-option class = "nav-option"[routerLink]="['chartNG2']">Chart ng2</mat-list-option>
        <mat-list-option class = "nav-option"[routerLink]="['chartJS']">Chart.js</mat-list-option>
      </mat-selection-list>
    </p>
    <p></p>
    <p>
      <button
        color="primary"
        class="nav-button"
        (click)="showFiller = !showFiller"
        mat-raised-button
      >Logout</button>
    </p>
    <p *ngIf="showFiller">Logout</p>
  </mat-drawer>
  <mat-drawer-content>
    <div fxLayout="row" class="menu-icon-column">
      <div style="width: auto">
        <button mat-icon-button (click)="nav_menu.toggle()">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
      <div class="router-space">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
