<mat-drawer-container class="nav-menu-container" autosize>
  <mat-drawer #nav_menu class="side-navigation" mode="side">
    <p>
      <button
        color="primary"
        class="nav-button"
        (click)="showFiller = !showFiller"
        mat-raised-button
      >
        Toggle extra text
      </button>
    </p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <p>
      <mat-selection-list [multiple]="false">
        <mat-list-option class = "nav-option"[routerLink]="['/']"> Welcome </mat-list-option>
        <mat-list-option class = "nav-option" [routerLink]="['MonitoringConfiguration']">Monitoring<br>Configuration</mat-list-option>
        <mat-list-option class = "nav-option"[routerLink]="['chartJS']">Evaluation</mat-list-option>
        <mat-list-option class = "nav-option"[routerLink]="['chartJS']">Alarm<br>Management</mat-list-option>
        <mat-list-option class = "nav-option"[routerLink]="['chartJS']">User Control</mat-list-option>
        <mat-list-option class = "nav-option"[routerLink]="['chartJS']">Revision<br>History</mat-list-option>
        <mat-list-option class = "nav-option"[routerLink]="['chart']"> Chart ngx</mat-list-option>
        <mat-list-option class = "nav-option"[routerLink]="['chartNG2']">Chart ng2</mat-list-option>
        <mat-list-option class = "nav-option"[routerLink]="['chartJS']"> Chart.js</mat-list-option>

      </mat-selection-list>
    </p>
  </mat-drawer>
  <mat-drawer-content>
    <div fxLayout="row" class="menu-icon-column">
      <div style="width: auto">
        <button mat-icon-button (click)="nav_menu.toggle()">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
      <div style="background-color: white; width: 100%; min-height: 800px">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
